body{
    background-image: url('space_back.jpg');
}

h2{
    font-size: 40px;
    font-family: "Passion One";
    color: #ffbc00;
    font-weight: bold; 
}

label{
    color: white;
    font-family: "Arial";
    font-weight: bold;
}

li{
    color: white;
    font-family: "Arial";
    font-weight: bold;
}

legend{
    color: white;
    font-family: "Arial";
    font-weight: bold;
}

th{
    color: white;
    font-family: "Arial";
    font-weight: bold;
}

input{
    color: brown;
    font-family: "Arial";
    font-weight: bold;
    border: 2px solid blue;
    border-radius: 4px;
    background-color: lightgray;
}

ul{
    list-style-type: none;
    padding-left: 0px;
}

td{
    color: blueviolet;
    font-family: "Arial";
    font-weight: bold;
}

select {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: lightgray;
  }

option{
    color: blueviolet;
    font-family: "Arial";
    font-weight: bold;
}

textarea{
    color: blueviolet;
    font-family: "Arial";
    font-weight: bold;
    border: 2px solid blue;
    border-radius: 4px;
    background-color: lightgray;
}

input[type=submit] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: mediumspringgreen;
    margin: 4px 2px;
    cursor: pointer;
}

input[type=text] {
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    border: none;
    border-bottom: 2px solid red;
}

fieldset{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: solid 8px mediumspringgreen;
    text-align: center;
    padding: 15px;
    background-color: lightseagreen;
}